.answer_form
  = data[:question]
  #info{data: {quiz_id: data[:quiz_id], question_id: data[:question_id], team_id: data[:team_id]}}
  = text_field_tag 'body', '', class: 'form-control code'
  = submit_tag 'Submit', class: 'btn btn-primary btn-lg btn-block', onclick: 'submitAnswer();'
.wait
  The next question is coming soon!

:javascript
  $(document).ready(function () {
    $('.wait').hide();
    this.submitAnswer = function () {
      var $this, dataset, quiz, answer, question, team ;
      $this = $(this);
      dataset = $this.find('#info')
      quiz = dataset.data().quizId;
      team = dataset.data().teamId;
      question = dataset.data().questionId;
      answer = $this.find('#body');
      if ($.trim(answer.val()).length >= 1) {
        App.quiz.submitAnswer({answer: answer.val(), team_id: team, quiz_id: quiz, question_id: question});
        $('.answer_form').hide();
        $('.wait').show();
      } else {
        $('#message').append('WTF Dude?!?')
      }
      return false;
    };
  });