Here's the partial mothafuckas!
= form_tag answer_create_path, id: 'answer', remote: true do
  = text_field_tag 'answer', '', class: 'form-control code'
  = submit_tag 'Submit', class: 'btn btn-primary btn-lg btn-block'
