.big-box
  %h1 Create a new quiz

  = text_field_tag 'Quiz Name', nil, placeholder: 'Quiz name', class: 'form-control code'
  = link_to 'Create quiz', quizmaster_add_questions_path, class: 'btn btn-primary'
