.big-box
  %h1= @quiz.name

  .results_div
    - @quiz.teams.each do |team|
      = team.name
      .score
        = team.answers.where(is_correct: true).count
        -# we should get this logic out of the view
  .send_results_button
    = link_to 'Send Results', quizmaster_send_results_path(@quiz), class: 'btn btn-sq-sm btn-success'
