/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Creepster');
html, body { height: 100%; }
body {
  background: #ffaf4b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaf4b), color-stop(100%, #ff920a));
  background: -webkit-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
  background: -o-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
  background: -ms-linear-gradient(top, #ffaf4b 0%, #ff920a 100%);
  background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
}
.big-box {
  margin: 10px auto;
  padding:20px;
  border: 4px solid #FFa500;
  border-radius: 10px;
  background:#FFF;
  width:90%;
}
.box {
  max-width:400px;
  margin: 70px auto;
  padding:20px;
  border: 4px solid #FFa500;
  border-radius: 10px;
  background:#FFF;
}
.code {
  margin-bottom:10px;
}
.box h1, .big-box h1  {
  font-family: 'Creepster', sans-serif;
}

